<div fxLayoutAlign="center start">
<md-card class="full-max-size">
  <md-card-title>
    Registrieren
  </md-card-title>
  <md-card-content>
    Die Angabe der E-Mail-Adresse ist freiwillig. Das Zurücksetzen des Passworts ist ohne E-Mail-Adresse nicht möglich.
    <form #registrationForm="ngForm" (ngsubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <md-icon>person</md-icon>
        <md-input-container fxFlex.lt-sm>
          <input mdInput placeholder="Benutzername" required type="text" name="userName" pattern="[a-zA-Z0-9]+"
                 [(ngModel)]="userName">
          <md-error *ngIf="!userName || userName.length == 0">Der Benutzername ist ein Pflichtfeld.</md-error>
          <md-error *ngIf="userName?.length > 0">Der Benutzername darf nur Buchstaben und Zahlen enthalten.</md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <md-icon>email</md-icon>
        <md-input-container fxFlex.sm fxFlex="false">
          <input mdInput placeholder="E-Mail" [email]="mailAddress" type="email" name="mailAddress"
                 [(ngModel)]="mailAddress">
          <md-error>Die E-Mail-Adresse ist nicht gültig.</md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <md-icon>lock</md-icon>
        <md-input-container fxFlex.lt-sm>
          <input mdInput required placeholder="Passwort" type="password" name="password" minlength="6"
                 [(ngModel)]="password">
          <md-error>Das Passwort muss mindestens 6 Zeichen haben.</md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <md-icon>replay</md-icon>
        <md-input-container fxFlex.lt-sm>
          <input mdInput required placeholder="Passwort bestätigen" type="password" name="passwordConfirmation"
                 [(ngModel)]="passwordConfirmation" [pattern]="password">
          <md-error>Die Passwörter stimmen nicht überein.</md-error>
        </md-input-container>
      </div>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button type="submit" [disabled]="registrationForm.invalid">Registrieren</button>
    <button md-button routerLink="/login" >Abbrechen</button>
  </md-card-actions>
</md-card>
</div>
