<md-card>
  <md-card-title>
    Registrieren
  </md-card-title>
  <md-card-content>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <md-icon>email</md-icon>
    <md-input-container fxFlex.lt-sm>
      <input mdInput placeholder="E-Mail" type="email">
    </md-input-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <md-icon>lock</md-icon>
    <md-input-container fxFlex.lt-sm>
      <input mdInput placeholder="Passwort" type="password">
    </md-input-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <md-icon>replay</md-icon>
    <md-input-container fxFlex.lt-sm>
      <input mdInput placeholder="Passwort bestätigen" type="password">
    </md-input-container>
  </div>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button>Speichern</button>
  </md-card-actions>
</md-card>
