<div fxLayoutAlign="center start">
  <mat-card class="full-max-size">
    <mat-card-title>
      Registrieren
    </mat-card-title>
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        Die Angabe der E-Mail-Adresse ist freiwillig. Das Zurücksetzen des Passworts ist ohne E-Mail-Adresse nicht
        möglich.
        <sfs-user-name-input [(ngModel)]="userName" name="userName" ngDefaultControl></sfs-user-name-input>
        <sfs-mail-address-input [(ngModel)]="mailAddress" name="mailAddress" ngDefaultControl
                                [email]="mailAddress?.length > 0"></sfs-mail-address-input>
        <sfs-password-input [(ngModel)]="password" name="password" ngDefaultControl></sfs-password-input>
        <sfs-password-confirmation-input name="passwordConfirmation" [(ngModel)]="passwordConfirmation"
                                         ngDefaultControl [compareTo]="password" [pattern]="password">
        </sfs-password-confirmation-input>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" type="submit" [disabled]="!password || registrationForm.invalid">
          Registrieren
        </button>
        <a mat-raised-button routerLink="../login" queryParamsHandling="merge">Login</a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
