<div class="scrollable">
  <router-outlet name="onboarding"></router-outlet>
</div>
<mat-toolbar color="primary" class="toolbar">
  <button mat-button routerLink="/schedule">Abbrechen</button>
  <span fxFlex></span>
  <sfs-link-dots [dotsCount]="steps.length"
                 [activeIndex]="activeIndex"
                 (onIndexChange)="navigateTo($event)"></sfs-link-dots>
  <span fxFlex></span>
  <button mat-button (click)="next()">{{steps.length - 1 > activeIndex ? 'Weiter' : 'Fertig'}}</button>
</mat-toolbar>
