<md-sidenav-container fullscreen>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()" fxHide.gt-sm="true" id="nav_burger-menu" aria-label="menu">
      <md-icon>menu</md-icon>
    </button>
    <span>SuperFit Kursplan</span>
    <div fxFlex></div>
    <sfs-navigation fxHide.lt-md="true"></sfs-navigation>
    <sfs-sync-status></sfs-sync-status>
  </md-toolbar>
  <md-sidenav #sidenav>
    <sfs-navigation fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px"
                    [sideNav]="sidenav"></sfs-navigation>
  </md-sidenav>
  <div class="margin">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
