.margin {
  margin: 8px;
}

.toolbar-margin {
  margin-top: 64px;
}

@media screen and (max-width: 600px) {
  .toolbar-margin {
    margin-top: 56px;
  }
}

.sidenav-menu {
  padding-top: 20px;
  min-width: 200px;
}
