<md-toolbar color="primary" style="position: fixed; top: 0; z-index: 1">
  <button md-icon-button (click)="sidenav.toggle()" fxHide.gt-md="true" id="nav_burger-menu" aria-label="menu"
          *ngIf="!isChild"
          angulartics2On="click" angularticsEvent="OpenBurgerMenu">
    <md-icon>menu</md-icon>
  </button>
  <button md-icon-button routerLink="feedback" *ngIf="isChild">
    <md-icon>arrow_back</md-icon>
  </button>
  <span>SuperFit Kursplan</span>
  <div fxFlex></div>
  <sfs-navigation fxHide.lt-lg="true" [fullWidth]="false"></sfs-navigation>
  <sfs-sync-status></sfs-sync-status>
</md-toolbar>
<md-sidenav-container fullscreen class="sidenav-margin">
  <md-sidenav #sidenav class="sidenav-menu">
    <sfs-navigation fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px"
                    [sideNav]="sidenav"></sfs-navigation>
  </md-sidenav>
  <div class="margin">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
