<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-form-field fxFlex floatPlaceholder="never">
      <mat-select [(ngModel)]="selectedValues" placeholder="Neue hinzufügen..." multiple="true" (change)="onChange()">
        <mat-select-trigger style="color: #9e9e9e;">Neue hinzufügen...</mat-select-trigger>
        <mat-option *ngFor="let value of allValues" [value]="value">{{ getName(value) }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button [disabled]="selectedValues.length == 0" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-chip-list>
    <mat-chip *ngIf="selectedValues.length == 0">ALLE</mat-chip>
    <mat-chip *ngFor="let value of selectedValues" removable="true" (remove)="remove(value)">
      {{ getName(value) }} <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
