<div fxLayout="column" fxLayoutGap="15px">
  <!--<mat-card-title>{{title}}</mat-card-title>-->
  <!--<mat-form-field>-->
  <!--<input type="text" [(ngModel)]="selectedValue" matInput #autoInput [matAutocomplete]="auto" [placeholder]="title">-->
  <!--</mat-form-field>-->
  <!--<mat-autocomplete #auto="matAutocomplete" (change)="onChange()">-->
  <!--<mat-option *ngFor="let value of filteredValues" [value]="value" (onSelectionChange)="onChange(value)">-->
  <!--{{ getName(value) }}-->
  <!--</mat-option>-->
  <!--</mat-autocomplete>-->
  <div fxLayoutGap="10px" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <mat-select [(ngModel)]="selectedValues" [placeholder]="title" multiple="true" (change)="onChange()">
        <mat-option *ngFor="let value of allValues" [value]="value">{{ getName(value) }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button [disabled]="selectedValues.length == 0" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-chip-list>
    <mat-chip *ngIf="selectedValues.length == 0">ALLE</mat-chip>
    <mat-chip *ngFor="let value of selectedValues" removable="true" (remove)="remove(value)">
      {{ getName(value) }} <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
