<md-card>
  <md-card-title>Hallo {{userName$ | async}}!</md-card-title>
  <md-card-content>
    <p>Herzlichen Glückwunsch, du bist eingeloggt!
    Deine Einstellungen werden synchroniert.</p>
    <button md-raised-button routerLink="change-password">
      <md-icon>lock</md-icon>
      Passwort ändern
    </button>
  </md-card-content>
  <md-card-actions align="right">
    <button md-raised-button (click)="logout()" routerLink="login">
      <md-icon>exit_to_app</md-icon>
      Logout
    </button>
  </md-card-actions>
</md-card>
