<mat-card>
  <mat-card-title>Hallo {{ userName$ | async }}!</mat-card-title>
  <mat-card-content>
    <p>Herzlichen Glückwunsch, du bist eingeloggt!
    Deine Einstellungen werden synchroniert.</p>
    <button mat-raised-button routerLink="change-password">
      <mat-icon>lock</mat-icon>
      Passwort ändern
    </button>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button (click)="logout()" routerLink="login">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-card-actions>
</mat-card>
