<button md-button (click)="closeSidenav()" routerLink="/schedule">
  <md-icon>event</md-icon>
  Kursplan
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/favorites">
  <md-icon>favorite</md-icon>
  Favoriten
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/filter">
  <md-icon>playlist_add</md-icon>
  Kurswahl
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/changes">
  <md-icon>swap_horiz</md-icon>
  Änderungen
</button>
<button md-button (click)="closeSidenav()" routerLink="/auth" aria-label="Login/Account">
  <md-icon>person</md-icon>
  {{(jwt$ | async) ? 'Account' : 'Login'}}
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/settings">
  <md-icon>settings</md-icon>
  Einstellungen
</button>
<button md-button (click)="closeSidenav()" routerLink="/about">
  <md-icon>import_contacts</md-icon>
  Über
</button>
