<ng-template ngFor let-route [ngForOf]="navigationConfiguration">
<sfs-navigation-button [name]="route.name"
                       [path]="route.path"
                       [icon]="route.icon"
                       *ngIf="route.loginStateMustBe == null || route.loginStateMustBe === isLoggedIn"
                       [fullWidth]="fullWidth"
                       [activeRoute]="router$ | async"
                       [class.fullwidth]="fullWidth"
                       (click)="onClick.emit()">
</sfs-navigation-button>
</ng-template>
