<button md-button (click)="closeSidenav()" routerLink="/schedule" id="nav_schedule">
  <md-icon>event</md-icon>
  Kursplan
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/favorites" id="nav_favorites">
  <md-icon>favorite</md-icon>
  Favoriten
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/filter" id="nav_filter">
  <md-icon>playlist_add</md-icon>
  Kurswahl
</button>
<button md-button (click)="closeSidenav()" routerLink="/auth" id="nav_account">
  <md-icon>person</md-icon>
  {{(jwt$ | async) ? 'Account' : 'Login'}}
</button>
<button md-button (click)="closeSidenav()" routerLink="/schedule/settings" id="nav_settings">
  <md-icon>settings</md-icon>
  Einstellungen
</button>
<button md-button (click)="closeSidenav()" routerLink="/about" id="nav_about">
  <md-icon>import_contacts</md-icon>
  Über
</button>
