<md-card fxLayout="column" fxLayoutGap="10px" fxFlexAlign="stretch center">
  <md-card-title fxFlexAlign="center">Kurswahl</md-card-title>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <sfs-select-filter [selectedValues]="workouts$ | async" (onSelection)="updateClasses($event)"
                       title="Kurse" [nameMapping]="classMapping" fxFlex></sfs-select-filter>
    <sfs-select-filter [selectedValues]="gyms$ | async" (onSelection)="updateGyms($event)"
                       title="Studios" [nameMapping]="gymMapping" fxFlex></sfs-select-filter>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <sfs-select-filter [selectedValues]="durations$ | async" (onSelection)="updateDurations($event)"
                       title="Kursdauer" [nameMapping]="durationMapping" fxFlex></sfs-select-filter>
    <sfs-select-filter [selectedValues]="languages$ | async" (onSelection)="updateLanguages($event)"
                       title="Sprachen" [nameMapping]="languageMapping" fxFlex></sfs-select-filter>
  </div>
  <sfs-time-filter (onSelect)="addFilter($event.filterName, $event.value)" [minStartTime]="minStartTime$ | async" [maxEndTime]="maxEndTime$ | async"></sfs-time-filter>
  <div fxLayoutAlign="center">
    <button md-raised-button routerLink="/">Schließen</button>
  </div>
</md-card>
