<sfs-schedule [schedulePerDay]="schedulePerDay$ | async" [filter]="filter" [showSchedule]="showSchedule"
 [newClasses]="(changes$ | async)?.length > 0 ? (changes$ | async)[0].added : []">
</sfs-schedule>
<div *ngIf="!showSchedule" fxLayout="column" fxLayoutAlign="center center">
  <p>Um deinen persönlichen Kursplan anzuzeigen, wähle deine Lieblingskurse oder -studios aus.</p>
  <button mat-raised-button routerLink="/filter">
    <mat-icon>playlist_add</mat-icon>
    Kurse wählen
  </button>
</div>
