<md-card>
  <md-card-title>Über die App</md-card-title>
  <p>Hallo, mein Name ist <a href="http://www.kimkern.de">Kim</a>. Ich arbeite als Fullstack-Entwickler in Berlin und
    bin leidenschaftliches SuperFit-Mitglied.
  </p>
  <p>Ich freue mich jederzeit über Feedback und Anregungen, gerne an s<!-- @@@ -->fs<!-- @@ -->@kimker<!-- @ -->n.de</p>
  <p>Falls du diese Webseite auf deinem Mobilgerät besuchst, füge sie doch über das Menü deines Browsers zum
    Startbildschirm hinzu. Dadurch lässt sich die App wie eine native App aus deinem AppStore benutzen und steht dir
    auch offline zur Verfügung.</p>

</md-card>
