<md-card fxLayout="column" fxLayoutGap="0">
  <md-card-title>Über die App</md-card-title>
  <md-card-subtitle>Version: <a (click)="openReleasenotes()">{{appVersion}}</a></md-card-subtitle>
  <p>Hallo <span *ngIf="(userName | async)">{{' ' + (userName | async)}}</span>, mein Name ist <a href="https://www.kimkern.de" target="_blank">Kim</a>. Ich arbeite als Fullstack-Entwickler
    in Berlin und bin leidenschaftliches <a href="http://mysuperfit.de" target="_blank">SuperFit</a>-Mitglied.
  </p>
  <p>Wenn dir die App gefällt, freue ich mich natürlich, wenn du mir z.B. über <a
    href="http://paypal.me/kiwikern/" target="_blank">Paypal</a> einen Fitnessriegel spendierst. ;-) </p>
  <p>Ich freue mich jederzeit über Feedback und Anregungen,
    gerne an <a [href]="'mailto:' + mailAddress">{{mailAddress}}</a> oder direkt auf
  <a href="https://github.com/kiwikern/Superfit-Schedule/issues" target="_blank">GitHub</a>.</p>
  <p>Falls du diese Webseite auf deinem Mobilgerät besuchst, füge sie doch über das Menü deines Browsers zum
    Startbildschirm hinzu. Dadurch lässt sich die App wie eine native App aus deinem AppStore benutzen und steht dir
    auch offline zur Verfügung.</p>
  <br>
  <button fxFlexAlign="center" md-raised-button routerLink="/">Schließen</button>
</md-card>
<br><br>
<div fxLayout="column" fxLayoutAlign="start center">
  <button md-raised-button (click)="showLegal =! showLegal">{{!showLegal ? 'Zeige': 'Verstecke'}} Datenschutzerklärung</button>
  <br>
  <md-card *ngIf="showLegal">
    <md-card-title>Datenschutzerklärung</md-card-title>
    <md-card-content>
      <p>
      Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.

      Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.

      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
      </p>
      <p>
      Datenschutzerklärung für die Nutzung von Piwik

      Diese Website benutzt den Open Source Webanalysedienst Piwik. Piwik verwendet so genannte "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten Informationen über die Benutzung dieser Website auf unserem Server gespeichert. Die IP-Adresse wird vor der Speicherung anonymisiert.

      Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
      </p>
      <p>
      SSL-Verschlüsselung

      Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.

      Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
      </p>

      Quellenangabe: https://www.e-recht24.de
    </md-card-content>
  </md-card>
</div>
