<md-card fxLayout="column" fxLayoutGap="0">
  <md-card-title>Über die App</md-card-title>
  <md-card-subtitle>
    Version:
    <a (click)="openReleasenotes()" angulartics2On="click" angularticsEvent="ManuallyOpenedReleasenotes">
      {{version$ | async}}
    </a>
  </md-card-subtitle>
  <p>Hallo <span *ngIf="(userName | async)">{{' ' + (userName | async)}}</span>, mein Name ist <a
    href="https://www.kimkern.de" target="_blank">Kim</a>. Ich arbeite als Fullstack-Entwickler
    in Berlin und bin leidenschaftliches <a href="http://mysuperfit.de" target="_blank">SuperFit</a>-Mitglied.
  </p>
  <p>Wenn dir die App gefällt, freue ich mich natürlich, wenn du mir z.B. über <a
    href="http://paypal.me/kiwikern/" target="_blank">Paypal</a> einen Fitnessriegel spendierst. ;-) </p>
  <p>Ich freue mich jederzeit über Feedback und Anregungen,
    gerne an <a [href]="'mailto:' + mailAddress">{{mailAddress}}</a> oder direkt auf
    <a href="https://github.com/kiwikern/Superfit-Schedule/issues" target="_blank">GitHub</a>.</p>
  <p>Falls du diese Webseite auf deinem Mobilgerät besuchst, füge sie doch über das Menü deines Browsers zum
    Startbildschirm hinzu. Dadurch lässt sich die App wie eine native App aus deinem AppStore benutzen und steht dir
    auch offline zur Verfügung.</p>
  <br>
  <button fxFlexAlign="center" md-raised-button routerLink="/">Schließen</button>
</md-card>

<footer class="footer" fxLayoutAlign="center">
  <sfs-legal-nav fxFlexAlign="center"></sfs-legal-nav>
</footer>
