.toolbar {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.centered-toolbar-row {
  display: flex;
  place-content: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .toolbar-margin {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 1279px) {
  .toolbar-margin {
    margin-bottom: 56px;
  }
}

/deep/ .mat-toolbar-layout {
  width: 100%;
}
