<div class="toolbar-margin">
  <router-outlet></router-outlet>
</div>
<md-toolbar fxLayoutAlign="center center" fxHide.gt-md="true" class="toolbar">
  <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="center center">
    <sfs-bottom-navigation-button [scheduleRoute]="'/'"
                                  [icon]="'event'"
                                  [activeRoute]="router.url"
                                  [name]="'Kursplan'"></sfs-bottom-navigation-button>
    <sfs-bottom-navigation-button [scheduleRoute]="'/favorites'"
                                  [icon]="'favorite'"
                                  [activeRoute]="router.url"
                                  [name]="'Favoriten'"></sfs-bottom-navigation-button>
    <sfs-bottom-navigation-button [scheduleRoute]="'/filter'"
                                  [icon]="'playlist_add'"
                                  [activeRoute]="router.url"
                                  [name]="'Kurswahl'"></sfs-bottom-navigation-button>
    <sfs-bottom-navigation-button [scheduleRoute]="'/changes'"
                                  [icon]="'swap_horiz'"
                                  [activeRoute]="router.url"
                                  [name]="'Änderungen'"></sfs-bottom-navigation-button>
    <sfs-bottom-navigation-button [scheduleRoute]="'/settings'"
                                  [icon]="'settings'"
                                  [activeRoute]="router.url"
                                  [name]="'Einstellungen'"></sfs-bottom-navigation-button>
  </div>
</md-toolbar>
