
.outlet-container {
  position: relative;
}

.outlet-container>* {
  display: block;
}

@media screen and (max-width: 600px) {
  .toolbar-margin {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 1279px) {
  .toolbar-margin {
    margin-bottom: 56px;
  }
}

/deep/ .mat-toolbar-layout {
  width: 100%;
}
