<div fxLayout="column">
  <label>Kurs beginnt frühestens um {{getTimeText(minStartTime)}}</label>
  <mat-slider [min]="MIN_TIME" [max]="MAX_TIME" step="1"
              [(ngModel)]="minStartTime" (change)="onChange({filterName: 'minStartTime', value: minStartTime})">
  </mat-slider>
</div>
<div fxLayout="column">
  <label>Kurs endet spätestens um {{getTimeText(maxEndTime)}}</label>
  <mat-slider [min]="MIN_TIME" [max]="MAX_TIME" step="1"
              [(ngModel)]="maxEndTime" (change)="onChange({filterName: 'maxEndTime', value: maxEndTime})">
  </mat-slider>
</div>
<mat-checkbox [(ngModel)]="filterOnlyWorkdays"
              (change)="onChange({filterName: 'filterTimeOnlyOnWorkdays', value: filterOnlyWorkdays})">
  Zeiteinschränkung nur werktags
</mat-checkbox>
