<div *ngIf="(sync$ | async)?.isSyncActivated">
  <button mat-icon-button
          *ngIf="(sync$ | async)?.isRequesting">
    <mat-icon>sync</mat-icon>
  </button>
  <button mat-icon-button (click)="requestSync()"
          *ngIf="!(sync$ | async)?.isRequesting && (sync$ | async)?.hasError">
    <mat-icon>sync_problem</mat-icon>
  </button>
</div>

<button mat-icon-button routerLink="/auth" (click)="showLoginRequired()" *ngIf="!(sync$ | async)?.isSyncActivated"
        angulartics2On="click" angularticsEvent="LoginViaStatusComponent">
  <mat-icon>sync_disabled</mat-icon>
</button>
