<div style="display: flex;flex-direction: column;align-items: center">
     <!--@scheduleAnimation>-->
  <h2 style="text-align: center; margin-bottom: 10px">{{ getDayName(classesPerDay.day) }}</h2>
  <sfs-fitness-class *ngFor="let class of classesPerDay.classes | sortClasses; trackBy: trackById"
                     [showDaysInClasses]="showDaysInClasses$ | async"
                     [showWorkoutType]="showWorkoutType$ | async"
                     [showStudio]="showStudio$ | async"
                     [isFavorite]="favoriteIds.indexOf(class.id) !== -1"
                     [fitnessClass]="class"
                     [showFavoriteButton]="showFavoriteButton"
                     [wasRemoved]="wasRemoved(class)"
                     [isNew]="isNewClass(class)"
                     style="margin-bottom: 10px"
  ></sfs-fitness-class>
</div>
