<div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start center">
  <h2>{{ getDayName(classesPerDay.day) }}</h2>
  <sfs-fitness-class *ngFor="let class of classesPerDay.classes | sortClasses"
                     [showDaysInClasses]="showDaysInClasses$ | async"
                     [showWorkoutType]="showWorkoutType$ | async"
                     [showSingleStudio]="showSingleStudio$ | async"
                     [isFavorite]="favoriteIds.indexOf(class.id) !== -1"
                     [fitnessClass]="class"
                     [showFavoriteButton]="showFavoriteButton"
                     [wasRemoved]="wasRemoved(class)"
                     [isNew]="isNewClass(class)"
                     fxFlex></sfs-fitness-class>
</div>
