<div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start center">
     <!--@scheduleAnimation>-->
  <h2>{{ getDayName(classesPerDay.day) }}</h2>
  <sfs-fitness-class *ngFor="let class of classesPerDay.classes | sortClasses; trackBy: trackById"
                     [showDaysInClasses]="showDaysInClasses$ | async"
                     [showWorkoutType]="showWorkoutType$ | async"
                     [showStudio]="showStudio$ | async"
                     [isFavorite]="favoriteIds.indexOf(class.id) !== -1"
                     [fitnessClass]="class"
                     [showFavoriteButton]="showFavoriteButton"
                     [wasRemoved]="wasRemoved(class)"
                     [isNew]="isNewClass(class)"
                     fxFlex
  ></sfs-fitness-class>
</div>
