mat-card {
  width: 208px;
  padding: 8px;
}

.new {
  position: absolute;
  top: -5px;
  right: -5px;
}

.class-headline {
  font-size: 22px;
  font-weight: 400;
}

mat-card-subtitle {
  margin-bottom: 5px;
}

.removed-class {
  text-decoration: line-through;
}

.overlay {
  color: lightgray;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  right: 0;
}
