<mat-toolbar class="toolbar">
  <div class="centered-toolbar-row">
    <div style="display:flex; width: 552px; align-items: center; place-content: space-around;">
      <sfs-bottom-navigation-button *ngFor="let entry of navigationConfiguration"
                                    [scheduleRoute]="entry.path"
                                    [icon]="entry.icon"
                                    [name]="entry.name"
                                    [isActive]="entry.path === activeRoute">
      </sfs-bottom-navigation-button>
    </div>
  </div>
</mat-toolbar>
