<div fxLayoutAlign="center start">
  <mat-card class="full-max-size">
    <mat-card-title>
      Passwort zurücksetzen
    </mat-card-title>
    <form #passwordResetForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <sfs-mail-address-input [(ngModel)]="mailAddress" name="mailAddress" ngDefaultControl isRequired="true" email>
        </sfs-mail-address-input>
        <re-captcha name="captcha" required siteKey="6Lc21SMUAAAAACKmGyVCEf-qBTJdLLzQrGtETiQ2"
                    (resolved)="captchaResponse = $event"></re-captcha>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" type="submit" [disabled]="!mailAddress || passwordResetForm.invalid">
          Zurücksetzen
        </button>
        <a mat-raised-button routerLink="../login">Login</a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
