<div fxLayoutAlign="center start">
  <md-card class="full-max-size">
    <md-card-title>
      Passwort zurücksetzen
    </md-card-title>
    <form #passwordResetForm="ngForm" (ngSubmit)="onSubmit()">
      <md-card-content>
        <sfs-mail-address-input [(ngModel)]="mailAddress" name="mailAddress" ngDefaultControl isRequired="true" email>
        </sfs-mail-address-input>
        <re-captcha name="captcha" required siteKey="6Lc21SMUAAAAACKmGyVCEf-qBTJdLLzQrGtETiQ2"
                    (resolved)="captchaResponse = $event"></re-captcha>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button color="accent" type="submit" [disabled]="!mailAddress || passwordResetForm.invalid">
          Zurücksetzen
        </button>
        <a md-raised-button routerLink="../login">Login</a>
      </md-card-actions>
    </form>
  </md-card>
</div>
