<mat-card>
  <mat-card-title>Kursdauer</mat-card-title>
  <div fxLayout="column">
    <label>Kurs dauert mindestens {{minDuration ? minDuration + ' Minuten' : 'egal'}} </label>
    <mat-slider [min]="0" [max]="MAX_DURATION" step="10"
               [(ngModel)]="minDuration" (change)="onChange({filterName: 'minDuration', value: minDuration})">
    </mat-slider>
  </div>
  <div fxLayout="column">
    <label>Kurs dauert maximal {{maxDuration ? maxDuration + ' Minuten' : 'egal'}}</label>
    <mat-slider [min]="0" [max]="MAX_DURATION" step="10"
               [(ngModel)]="maxDuration" (change)="onChange({filterName: 'maxDuration', value: maxDuration})">
    </mat-slider>
  </div>
</mat-card>
