md-card {
  width: 200px;
  padding: 8px;
}

.class-headline {
  font-size: 22px;
  font-weight: 400;
}

md-card-subtitle{
  margin-bottom: 5px;
}

.removed-class {
  text-decoration: line-through;
}
