<md-card [style.background-color]="getClassColor()">
  <div fxLayoutAlign="start center" class="class-headline">
    <span [class.removed-class]="wasRemoved">
      {{getClassName()}}
    </span>
    <button md-icon-button (click)="toggleFavorite()" *ngIf="!wasRemoved">
      <md-icon [fxHide]="isFavorite">favorite_border</md-icon>
      <md-icon [fxShow]="isFavorite" color="warn">favorite</md-icon>
    </button>
    <button md-icon-button (click)="showRemovedSnackBar()" *ngIf="wasRemoved">
      <md-icon>warning</md-icon>
    </button>
    <img style="width: 24px;" src="assets/english.png" *ngIf="fitnessClass.language == 1">
  </div>
  <md-card-subtitle>
    <span [fxHide]="!(showWorkoutType$ | async)">
        {{getWorkoutType()}}
    </span>
      <span [fxHide]="(showSingleStudio$ | async) && isOnlyOneGymSelected">
      {{getGymName()}}
    </span>
  </md-card-subtitle>
  <div fxLayout="row">
    <span [fxShow]="showDaysInClasses$ | async">{{getDayName()}},&nbsp;</span>
    <sfs-time-period [startHour]="fitnessClass.startHour" [startMinute]="fitnessClass.startMinute"
                     [duration]="fitnessClass.duration">
    </sfs-time-period>
  </div>
</md-card>
