mat-panel-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

mat-accordion {
  width: 95%;
  max-width: 600px;
}

/* TODO: Find better solution */
/deep/ .mat-expansion-panel-body {
  overflow: visible !important;
}
