<div fxLayout="column" fxLayoutAlign="center center" class="max-size">
  <md-card fxLayout="column" fxLayoutAlign="start center">
    <md-card-title>Neuer Kommentar</md-card-title>
    <md-card-subtitle>
      Teile der SFS-Communitiy mit, was diesen Kurs besonders macht.
    </md-card-subtitle>
    <form #commentForm="ngForm" (ngSubmit)="onSubmit()" fxFill (keydown.enter)="$event.preventDefault()">

      <md-card-content fxLayout="column">
        <md-input-container>
        <textarea mdInput
                  mdTextareaAutosize mdAutosizeMinRows="2" mdAutosizeMaxRows="10"
                  required
                  name="text"
                  [(ngModel)]="text"
                  placeholder="Dein Kommentar"></textarea>
        </md-input-container>

        <fieldset>
          <legend>Teilnehmerzahl</legend>
          <sfs-rating
            [selectedIcon]="'people'"
            [unselectedIcon]="'people_outline'"
            [scaleSize]="5"
            [color]="'primary'"
            (change)="attendance = $event"></sfs-rating>
        </fieldset>

        <fieldset>
          <legend>Highlights</legend>
          <sfs-highlights-selection (onSelect)="setHighlights($event)"></sfs-highlights-selection>
        </fieldset>

        <div fxLayoutAlign="start center" fxLayout="row">
          <md-input-container fxFlex>
            <input mdInput
                   name="instructor"
                   placeholder="Trainer"
                   (keydown.enter)="addInstructor()"
                   [mdAutocomplete]="instructorsAuto"
                   [formControl]="instructorControl">
          </md-input-container>
          <button md-button type="button" (click)="addInstructor()"
                  [disabled]="!instructorControl.value || instructorControl.value.length < 2">
            Hinzufügen
          </button>
        </div>
        <md-autocomplete #instructorsAuto="mdAutocomplete">
          <md-option *ngFor="let option of filteredInstructors | async" [value]="option"
                     (click)="addInstructor()">
            {{ option }}
          </md-option>
        </md-autocomplete>

        <md-chip-list mdPrefix #chipList>
          <md-chip *ngIf="instructors.length === 0">Keine Trainer ausgewählt</md-chip>
          <md-chip *ngFor="let instructor of instructors" fxLayout="row" fxLayoutAlign="center center">
            {{instructor}}
            <md-icon mdChipRemove (click)="removeInstructor(instructor)">cancel</md-icon>
          </md-chip>
        </md-chip-list>
      </md-card-content>

      <sfs-fab-button [icon]="'send'" [type]="'submit'" [hidden]="commentForm.pristine"
                      [showButton]="!commentForm.invalid"></sfs-fab-button>
    </form>
  </md-card>
</div>
