<div fxLayout="column" fxLayoutAlign="center center" class="max-size">
  <md-card fxLayout="column" fxLayoutAlign="start center">
    <md-card-title>Neuer Kommentar</md-card-title>
    <md-card-subtitle>
      Teile der SFS-Communitiy mit, was diesen Kurs besonders macht.
    </md-card-subtitle>
    <form #commentForm="ngForm" (ngSubmit)="onSubmit()" fxFill>

      <md-card-content fxLayout="column">
        <md-input-container>
        <textarea mdInput
                  mdTextareaAutosize mdAutosizeMinRows="2" mdAutosizeMaxRows="10"
                  required
                  name="text"
                  [(ngModel)]="text"
                  placeholder="Dein Kommentar"></textarea>
        </md-input-container>

        <fieldset>
          <legend>Teilnehmerzahl</legend>
          <sfs-rating
            [selectedIcon]="'people'"
            [unselectedIcon]="'people_outline'"
            [scaleSize]="3"
            [color]="'primary'"
            (change)="attendance = $event"></sfs-rating>
        </fieldset>

        <fieldset>
          <legend>Highlights</legend>
          <sfs-highlights-selection></sfs-highlights-selection>
        </fieldset>

        <md-input-container>
          <md-chip-list mdPrefix #chipList1>
            <md-chip *ngFor="let instructor of instructors">
              {{instructor}}
              <md-icon mdChipRemove>cancel</md-icon>
            </md-chip>
          </md-chip-list>
          <input mdInput
                 name="instructor"
                 placeholder="Trainer"
                 [mdAutocomplete]="instructorsAuto"
                 [formControl]="instructorControl">
        </md-input-container>
        <md-autocomplete #instructorsAuto="mdAutocomplete">
          <md-option *ngFor="let option of filteredInstructors | async" [value]="option">
            {{ option }}
          </md-option>
        </md-autocomplete>

      </md-card-content>

      <sfs-fab-button [icon]="'send'" [type]="'submit'" [hidden]="commentForm.pristine"
                      [showButton]="!commentForm.invalid"></sfs-fab-button>
    </form>
  </md-card>
</div>
