<div fxLayout="column" fxLayoutAlign="center center" class="max-size">
  <mat-card fxLayout="column" fxLayoutAlign="start center">
    <mat-card-title>Neuer Kommentar</mat-card-title>
    <mat-card-subtitle>
      Teile der SFS-Communitiy mit, was diesen Kurs besonders macht.
    </mat-card-subtitle>
    <form #commentForm="ngForm" (ngSubmit)="onSubmit()" fxFill (keydown.enter)="$event.preventDefault()">

      <mat-card-content fxLayout="column">
        <mat-form-field>
          <textarea matInput
                    matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"
                    required
                    name="text"
                    [(ngModel)]="text"
                    placeholder="Dein Kommentar">
          </textarea>
        </mat-form-field>

        <fieldset>
          <legend>Teilnehmerzahl</legend>
          <sfs-rating
            [selectedIcon]="'people'"
            [unselectedIcon]="'people_outline'"
            [scaleSize]="5"
            [color]="'primary'"
            (change)="attendance = $event"></sfs-rating>
        </fieldset>

        <fieldset>
          <legend>Highlights</legend>
          <sfs-highlights-selection (onSelect)="setHighlights($event)"></sfs-highlights-selection>
        </fieldset>

        <div fxLayoutAlign="start center" fxLayout="row">
          <mat-form-field fxFlex>
            <input matInput
                   name="instructor"
                   placeholder="Trainer"
                   (keydown.enter)="addInstructor()"
                   [matAutocomplete]="instructorsAuto"
                   [formControl]="instructorControl">
          </mat-form-field>
          <button mat-button type="button" (click)="addInstructor()"
                  [disabled]="!instructorControl.value || instructorControl.value.length < 2">
            Hinzufügen
          </button>
        </div>
        <mat-autocomplete #instructorsAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredInstructors | async" [value]="option"
                     (click)="addInstructor()">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-chip-list matPrefix #chipList>
          <mat-chip *ngIf="instructors.length === 0">Keine Trainer ausgewählt</mat-chip>
          <mat-chip *ngFor="let instructor of instructors" fxLayout="row" fxLayoutAlign="center center">
            {{instructor}}
            <mat-icon matChipRemove (click)="removeInstructor(instructor)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>

      <sfs-fab-button [icon]="'send'" [type]="'submit'" [hidden]="commentForm.pristine"
                      [showButton]="!commentForm.invalid"></sfs-fab-button>
    </form>
  </mat-card>
</div>
