<div *ngIf="showSchedule">
  <div id="second-scrollbar" fxHide.lt-md="true">
    <div id="second-scrollbar-content">
    </div>
  </div>
  <div [fxLayout]="(daysLayout$ | async) ? (daysLayout$ | async) : 'column'"
       [fxLayout.gt-md]="(daysLayout$ | async) ? (daysLayout$ | async) : 'row'"
       fxLayoutGap="20px" class="scrollable" id="schedule">
    <sfs-day-column *ngFor="let classesPerDay of schedulePerDay | orderDays:showTodayFirst"
                    [classesPerDay]="classesPerDay" [filter]="filter">
    </sfs-day-column>
  </div>
</div>
