<div *ngIf="showSchedule">
  <div [ngClass]="[(daysLayout$ | async) ? (daysLayout$ | async) : 'column', 'flow']"
       [ngClass.gt-xs]="[(daysLayout$ | async) ? (daysLayout$ | async) : 'row', 'flow']"
       class="scrollable" id="schedule" #schedule>
    <sfs-day-column *ngFor="let classesPerDay of schedulePerDay | filterClasses:filter | orderDays:showTodayFirst; trackBy: trackByIds"
                    [classesPerDay]="classesPerDay"
                    [removedFavorites]="removedFavorites"
                    [showFavoriteButton]="showFavoriteButton"
                    [newClasses]="newClasses"
                    class="margin-if-row">
    </sfs-day-column>
  </div>
  <div *ngIf="schedule.children.length == 0" fxLayoutAlign="center center" fxLayout="column">
    <p>Es gibt keine Kurse, die den Filtern deiner Kurswahl entsprechen.</p>
    <button md-raised-button routerLink="/filter">
      <md-icon>playlist_add</md-icon>
      Kurswahl
    </button>
  </div>
</div>
