.scrollable {
  overflow-x: auto;
  padding: 10px;
  /*box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);*/
}

#second-scrollbar {
  overflow-x: auto;
  overflow-y: hidden;
}

#second-scrollbar-content {
  height: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.flow {
  place-content: center;
  display: flex;
  box-sizing: border-box;
  -webkit-box-direction: normal;
}

.row {
  flex-direction: row;
  -webkit-box-orient: horizontal;
}

.column {
  flex-direction: column;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.row .margin-if-row {
  margin-right: 20px;
}
