<div fxLayoutAlign="center start">
  <md-card class="full-max-size">
    <md-card-title>
      Passwort ändern
    </md-card-title>
    <form #passwordChangeForm="ngForm" (ngSubmit)="onSubmit()">
      <md-card-content>
        <sfs-password-input [(ngModel)]="password" name="password" ngDefaultControl></sfs-password-input>
        <sfs-password-confirmation-input name="passwordConfirmation" [(ngModel)]="passwordConfirmation"
                                         ngDefaultControl [compareTo]="password" [pattern]="password">
        </sfs-password-confirmation-input>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button color="accent" type="submit" [disabled]="!password || passwordChangeForm.invalid">
          Passwort ändern
        </button>
        <a md-raised-button routerLink="../login">Login</a>
      </md-card-actions>
    </form>
  </md-card>
</div>
