<div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">
  <mat-card-title>Optionen</mat-card-title>
  <mat-accordion>
    <mat-expansion-panel fxLayout="column">
      <mat-expansion-panel-header>
        <mat-panel-title>Wochenanfang</mat-panel-title>
        <mat-panel-description>
          {{(showTodayFirst$ | async) ? 'Heutiger Tag' : 'Montag'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-radio-group fxLayout="column" [ngModel]="(showTodayFirst$ | async) + ''"
                      (change)="changeSetting('showTodayFirst', $event.value === 'true')">
        <mat-radio-button value="true">Heutiger Tag</mat-radio-button>
        <mat-radio-button value="false">Montag</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel fxLayout="column">
      <mat-expansion-panel-header>
        <mat-panel-title>Kursplanlayout</mat-panel-title>
        <mat-panel-description [ngSwitch]="daysLayout$ | async">
          <span *ngSwitchDefault>automatisch</span>
          <span *ngSwitchCase="'column'">untereinander</span>
          <span *ngSwitchCase="'row'">nebeneinander</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-radio-group fxLayout="column" [ngModel]="daysLayout$ | async"
                      (change)="changeSetting('daysLayout', $event.value)">
        <mat-radio-button value="">automatisch</mat-radio-button>
        <mat-radio-button value="row">nebeneinander</mat-radio-button>
        <mat-radio-button value="column">untereinander</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Kurslayout</mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-checkbox [ngModel]="showStudio$ | async" (change)="changeSetting('showStudio', $event.checked)">
          Studio anzeigen
        </mat-checkbox>
        <mat-checkbox [ngModel]="showDaysInClasses$ | async"
                     (change)="changeSetting('showDaysInClasses', $event.checked)">
          Wochentag anzeigen
        </mat-checkbox>
        <mat-checkbox [ngModel]="showWorkoutType$ | async" (change)="changeSetting('showWorkoutType', $event.checked)">
          Kursart anzeigen
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Sonstiges</mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-checkbox [ngModel]="!(hideReleasenotes$ | async)"
                     (change)="changeSetting('hideReleasenotes', !$event.checked)">
          Zeige Änderungshistorie bei Update
        </mat-checkbox>
        <mat-checkbox [ngModel]="!(showPushNotifications$ | async)"
                     (change)="changeSetting('showPushNotifications', !$event.checked)">
          Push-Mitteilungen bei Kursplanänderungen
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
