<div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">
  <md-card-title>Einstellungen</md-card-title>
  <md-accordion>
    <md-expansion-panel fxLayout="column">
      <md-expansion-panel-header>
        <md-panel-title>Wochenanfang</md-panel-title>
        <md-panel-description>
          {{(showTodayFirst$ | async) ? 'Heutiger Tag' : 'Montag'}}
        </md-panel-description>
      </md-expansion-panel-header>
      <md-radio-group fxLayout="column" [ngModel]="(showTodayFirst$ | async) + ''"
                      (change)="changeSetting('showTodayFirst', $event.value === 'true')">
        <md-radio-button value="true">Heutiger Tag</md-radio-button>
        <md-radio-button value="false">Montag</md-radio-button>
      </md-radio-group>
    </md-expansion-panel>
    <md-expansion-panel fxLayout="column">
      <md-expansion-panel-header>
        <md-panel-title>Kursplanlayout</md-panel-title>
        <md-panel-description [ngSwitch]="daysLayout$ | async">
          <span *ngSwitchDefault>automatisch</span>
          <span *ngSwitchCase="'column'">untereinander</span>
          <span *ngSwitchCase="'row'">nebeneinander</span>
        </md-panel-description>
      </md-expansion-panel-header>
      <md-radio-group fxLayout="column" [ngModel]="daysLayout$ | async"
                      (change)="changeSetting('daysLayout', $event.value)">
        <md-radio-button value="">automatisch</md-radio-button>
        <md-radio-button value="row">nebeneinander</md-radio-button>
        <md-radio-button value="column">untereinander</md-radio-button>
      </md-radio-group>
    </md-expansion-panel>
    <md-expansion-panel>
      <md-expansion-panel-header>Kurslayout</md-expansion-panel-header>
      <div fxLayout="column">
        <md-checkbox [ngModel]="showSingleStudio$ | async" (change)="changeSetting('showSingleStudio', $event.checked)">
          Studio ausblenden, wenn nur eines ausgewählt
        </md-checkbox>
        <md-checkbox [ngModel]="showDaysInClasses$ | async"
                     (change)="changeSetting('showDaysInClasses', $event.checked)">
          Wochentag anzeigen
        </md-checkbox>
        <md-checkbox [ngModel]="showWorkoutType$ | async" (change)="changeSetting('showWorkoutType', $event.checked)">
          Kursart anzeigen
        </md-checkbox>
      </div>
    </md-expansion-panel>
    <md-expansion-panel>
      <md-expansion-panel-header>Sonstiges</md-expansion-panel-header>
      <md-checkbox [ngModel]="!(hideReleasenotes$ | async)"
                   (change)="changeSetting('hideReleasenotes', !$event.checked)">
        Zeige Änderungshistorie nach Update
      </md-checkbox>
    </md-expansion-panel>
  </md-accordion>
</div>
