<md-sidenav-container fullscreen>
<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()" fxHide.gt-xs="true">
    <md-icon>menu</md-icon>
  </button>
  <span>SuperFit Kursplan</span>
  <div fxFlex></div>
  <div fxHide.lt-sm="true">
    <button md-button routerLink="/">
      <md-icon>event</md-icon>
      Kursplan
    </button>
    <button md-button routerLink="/filter">
      <md-icon>filter_list</md-icon>
      Filter
    </button>
    <button md-button routerLink="/settings">
      <md-icon>settings</md-icon>
      Einstellungen
    </button>
    <button md-button routerLink="/about">
      <md-icon>person</md-icon>
      Über
    </button>
  </div>
</md-toolbar>
  <md-sidenav #sidenav>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <button md-button (click)="sidenav.close()" routerLink="/">
        <md-icon>event</md-icon>
        Kursplan
      </button>
      <button md-button (click)="sidenav.close()" routerLink="/filter">
        <md-icon>filter_list</md-icon>
        Filter
      </button>
      <button md-button (click)="sidenav.close()" routerLink="/settings">
        <md-icon>settings</md-icon>
        Einstellungen
      </button>
      <button md-button (click)="sidenav.close()" routerLink="/about">
        <md-icon>person</md-icon>
        Über
      </button>
    </div>
  </md-sidenav>
  <div class="margin">
    <router-outlet></router-outlet>
    <br>
    <sfs-class-list></sfs-class-list>
  </div>
</md-sidenav-container>
