<md-card fxLayout="column" fxLayoutGap="10px">
  <md-card-title>Filter</md-card-title>
  <sfs-select-filter [selectedValues]="workouts$ | async" [allValues]="allClasses" (onSelection)="updateClasses($event)"
                     title="Kurse"></sfs-select-filter>
  <sfs-select-filter [selectedValues]="gyms$ | async" [allValues]="allGyms" (onSelection)="updateGyms($event)"
                     title="Studios"></sfs-select-filter>
  <sfs-select-filter [selectedValues]="durations$ | async" [allValues]="[30, 60, 90]" title="Kursdauer"
                     (onSelection)="updateDurations($event)"></sfs-select-filter>
</md-card>
