<md-card fxLayout="column">
  <div fxLayout="row">
    <div>
      <md-card-subtitle>{{comment.userName}} ({{comment.date | date:'mediumDate'}})</md-card-subtitle>
      <md-card-subtitle>
        Trainer:
        <span *ngFor="let instructor of comment.instructors; let last = last">
        {{instructor}}{{last ? '' : ', '}}
      </span>
      </md-card-subtitle>
    </div>
    <span fxFlex></span>
    <md-icon *ngFor="let i of comment.attendance | repeat" color="primary">people</md-icon>
    <md-icon *ngFor="let i of (3 - comment.attendance) | repeat">people_outline</md-icon>
  </div>
  <md-card-content>
    {{comment.text}}
  </md-card-content>
  <fieldset *ngIf="comment.highlights && comment.highlights.length > 0">
    <legend>Highlights</legend>
    <sfs-highlights [highlights]="comment.highlights"></sfs-highlights>
  </fieldset>
</md-card>
