md-card {
  padding: 4px;
}

md-card-content {
  margin-top: 10px;
}

md-card-subtitle {
  margin-bottom: 0;
}

fieldset {
  border: thin none lightgray;
  border-top-style: solid;
}

.small-text {
  font-size: small;
}
