md-card {
  padding: 4px;
}

md-card-content {
  margin-top: 10px;
}

md-card-subtitle {
  margin-bottom: 5px;
}

fieldset {
  border: thin none lightgray;
  border-top-style: solid;
  font-size: small;
  padding-bottom: 0;
  padding-top: 0;
}
