<md-card fxLayout="column" fxLayoutAlign="start center" style="max-width: 600px;">
  <md-card-title>Feedback</md-card-title>
  <md-card-subtitle>
    Du hast einen Fehler entdeckt, vermisst eine Funktion oder dir gefällt
    etwas richtig gut?
  </md-card-subtitle>
  <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()" fxFill>
    <md-card-content fxLayout="column" fxLayoutGap="20px">
      <md-input-container>
        <textarea mdInput
                  mdTextareaAutosize mdAutosizeMinRows="3" mdAutosizeMaxRows="10"
                  required
                  name="text"
                  [(ngModel)]="text"
                  placeholder="Hinterlasse hier dein Feedeback"></textarea>
      </md-input-container>
      <fieldset fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="text">
        <legend>Zufriedenheit</legend>
        <sfs-rating
          [title]="'Allgemein'"
          [selectedIcon]="'star'"
          [unselectedIcon]="'star_border'"
          [color]="'primary'"
          (change)="overallRating = $event"></sfs-rating>
        <sfs-rating
          [title]="'Performance'"
          [selectedIcon]="'alarm_on'"
          [unselectedIcon]="'alarm'"
          [color]="'primary'"
          (change)="performanceRating = $event"></sfs-rating>
      </fieldset>
      <fieldset fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="text">
        <legend>Benutzung</legend>
        <div>
          <label>Gerät</label>
          <md-radio-group [(ngModel)]="device" name="device" fxLayout="column">
            <md-radio-button value="smartphone">Smartphone</md-radio-button>
            <md-radio-button value="desktop">Desktop</md-radio-button>
            <md-radio-button value="tablet">Tablet</md-radio-button>
          </md-radio-group>
        </div>
        <div>
          <label *ngIf="device">Betriebssystem</label>
          <md-radio-group [(ngModel)]="os" name="os" fxLayout="column"
                          *ngIf="device === 'smartphone' || device === 'tablet'">
            <md-radio-button value="android">Android</md-radio-button>
            <md-radio-button value="ios">iOS</md-radio-button>
            <md-radio-button value="windows">Windows</md-radio-button>
            <md-radio-button value="other">Andere</md-radio-button>
          </md-radio-group>
        </div>
        <div>
          <md-radio-group [(ngModel)]="os" name="os" fxLayout="column"
                          *ngIf="device === 'desktop'">
            <md-radio-button value="windows">Windows</md-radio-button>
            <md-radio-button value="macos">macOS</md-radio-button>
            <md-radio-button value="linux">Linux</md-radio-button>
            <md-radio-button value="other">Andere</md-radio-button>
          </md-radio-group>
        </div>
        <div>
          <label *ngIf="os">Browser</label>
          <md-radio-group [(ngModel)]="browser" name="browser" fxLayout="column"
                          *ngIf="os">
            <md-radio-button value="chrome">Chrome</md-radio-button>
            <md-radio-button value="safari" *ngIf="os ==='ios' || os === 'macos'">Safari</md-radio-button>
            <md-radio-button value="samsung" *ngIf="os ==='android'">Samsung Browser</md-radio-button>
            <md-radio-button value="firefox">Firefox</md-radio-button>
            <md-radio-button value="edge" *ngIf="os ==='windows'">Edge</md-radio-button>
            <md-radio-button value="other">Andere</md-radio-button>
          </md-radio-group>
        </div>
      </fieldset>
    </md-card-content>
    <sfs-fab-button [icon]="'send'" [type]="'submit'" [hidden]="feedbackForm.pristine" [showButton]="!feedbackForm.invalid"></sfs-fab-button>
  </form>
</md-card>
