.max-size {
  max-width: 600px;
}

mat-card-title {
  margin-bottom: 5px;
}

mat-card-subtitle {
  text-align: center;
}

fieldset {
  border: thin none lightgray;
  border-top-style: solid;
}

.mat-form-field {
  width: 100%;
}
