<div class="max-size" fxLayout="column" fxLayoutAlign="center center">
<mat-card fxLayout="column" fxLayoutAlign="center center">
  <mat-card-title>Feedback</mat-card-title>
  <mat-card-subtitle>
    Du hast einen Fehler entdeckt, vermisst eine Funktion oder dir gefällt
    etwas richtig gut?
  </mat-card-subtitle>
  <form #feedbackForm="ngForm" (ngSubmit)="onSubmit()" fxFill>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
      <mat-form-field>
        <textarea matInput
                  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10"
                  required
                  name="text"
                  [(ngModel)]="text"
                  placeholder="Hinterlasse hier dein Feedeback"></textarea>
      </mat-form-field>
      <fieldset fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="text">
        <legend>Zufriedenheit</legend>
        <sfs-rating
          [title]="'Allgemein'"
          [selectedIcon]="'star'"
          [unselectedIcon]="'star_border'"
          [color]="'primary'"
          (change)="overallRating = $event"></sfs-rating>
        <sfs-rating
          [title]="'Performance'"
          [selectedIcon]="'alarm_on'"
          [unselectedIcon]="'alarm'"
          [color]="'primary'"
          (change)="performanceRating = $event"></sfs-rating>
      </fieldset>
      <fieldset *ngIf="text">
        <legend>Benutzung</legend>
        <div fxLayout="column" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutGap="10px">
            <div>
              <label>Gerät</label>
              <mat-radio-group [(ngModel)]="device" name="device" fxLayout="column">
                <mat-radio-button value="smartphone">Smartphone</mat-radio-button>
                <mat-radio-button value="desktop">Desktop</mat-radio-button>
                <mat-radio-button value="tablet">Tablet</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="device" fxLayout="column">
              <label>Betriebssystem</label>
              <mat-radio-group [(ngModel)]="os" name="os" fxLayout="column"
                              *ngIf="device === 'smartphone' || device === 'tablet'">
                <mat-radio-button value="android">Android</mat-radio-button>
                <mat-radio-button value="ios">iOS</mat-radio-button>
                <mat-radio-button value="windows">Windows</mat-radio-button>
                <mat-radio-button value="other">Andere</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group [(ngModel)]="os" name="os" fxLayout="column"
                              *ngIf="device === 'desktop'">
                <mat-radio-button value="windows">Windows</mat-radio-button>
                <mat-radio-button value="macos">macOS</mat-radio-button>
                <mat-radio-button value="linux">Linux</mat-radio-button>
                <mat-radio-button value="other">Andere</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="os" fxLayout="column">
              <label>Browser</label>
              <mat-radio-group [(ngModel)]="browser" name="browser" fxLayout="column"
                              *ngIf="os">
                <mat-radio-button value="chrome">Chrome</mat-radio-button>
                <mat-radio-button value="safari" *ngIf="os ==='ios' || os === 'macos'">Safari</mat-radio-button>
                <mat-radio-button value="samsung" *ngIf="os ==='android'">Samsung</mat-radio-button>
                <mat-radio-button value="firefox">Firefox</mat-radio-button>
                <mat-radio-button value="edge" *ngIf="os ==='windows'">Edge</mat-radio-button>
                <mat-radio-button value="other">Andere</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </fieldset>
    </mat-card-content>
    <sfs-fab-button [icon]="'send'" [type]="'submit'" [hidden]="feedbackForm.pristine"
                    [showButton]="!feedbackForm.invalid"></sfs-fab-button>
  </form>
</mat-card>
</div>
