<h1 mat-dialog-title>Teile SuperFit Kursplan</h1>
<div mat-dialog-content class="centered-row">
  <a [attr.href]="whatsappURL" data-action="share/whatsapp/share" mat-icon-button>
    <img src="assets/icons/whatsapp.png">
  </a>
  <a [attr.href]="telegramURL" target="_blank" mat-icon-button>
    <img src="assets/icons/telegram.png">
  </a>
  <a [attr.href]="twitterURL" target="_blank" mat-icon-button>
    <mat-icon><img src="assets/icons/twitter.png"></mat-icon>
  </a>
  <a [attr.href]="facebookURL" target="_blank" mat-icon-button>
    <mat-icon><img src="assets/icons/facebook.png"></mat-icon>
  </a>
</div>
