<div fxLayoutAlign="center start">
  <md-card class="full-max-size">
    <md-card-title>
      Login
    </md-card-title>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <md-card-content fxLayout="column">
        <md-button-toggle-group fxFlexAlign="center" [(ngModel)]="useUserName" name="useUserName">
          <md-button-toggle value="true">
            <md-icon>person</md-icon>
            Name
          </md-button-toggle>
          <md-button-toggle value="false">
            <md-icon>email</md-icon>
            E-Mail
          </md-button-toggle>
        </md-button-toggle-group>
        <br>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="useUserName === 'true'">
          <md-icon>person</md-icon>
          <md-input-container fxFlex>
            <input mdInput placeholder="Benutzername" required type="text" name="userName" pattern="[a-zA-Z0-9]+"
                   [(ngModel)]="userName">
            <md-error *ngIf="!userName || userName.length == 0">Der Benutzername ist ein Pflichtfeld.</md-error>
            <md-error *ngIf="userName?.length > 0">Der Benutzername darf nur Buchstaben und Zahlen enthalten.</md-error>
          </md-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="useUserName === 'false'">
          <md-icon>email</md-icon>
          <md-input-container fxFlex fxFlex="false">
            <input mdInput placeholder="E-Mail" required email type="email" name="mailAddress"
                   [(ngModel)]="mailAddress">
            <md-error>Die E-Mail-Adresse ist nicht gültig.</md-error>
          </md-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <md-icon>lock</md-icon>
          <md-input-container fxFlex>
            <input mdInput required placeholder="Passwort" type="password" name="password" minlength="6"
                   [(ngModel)]="password">
            <md-error>Das Passwort muss mindestens 6 Zeichen haben.</md-error>
          </md-input-container>
        </div>
        <a routerLink="../reset-password" class="password-reset">Passwort vergessen?</a>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button type="submit" [disabled]="loginForm.invalid">Einloggen</button>
        <button md-button routerLink="../registration">Registrieren</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
