<div fxLayoutAlign="center start">
  <md-card class="full-max-size">
    <md-card-title>
      Login
    </md-card-title>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <md-card-content fxLayout="column">
        <md-button-toggle-group fxFlexAlign="center" [(ngModel)]="useUserName" name="useUserName">
          <md-button-toggle value="true">
            <md-icon>person</md-icon>
            Name
          </md-button-toggle>
          <md-button-toggle value="false">
            <md-icon>email</md-icon>
            E-Mail
          </md-button-toggle>
        </md-button-toggle-group>
        <br>
        <sfs-user-name-input *ngIf="useUserName === 'true'" [(ngModel)]="userName" name="userName" ngDefaultControl>
        </sfs-user-name-input>
        <sfs-mail-address-input *ngIf="useUserName === 'false'" [(ngModel)]="mailAddress" name="mailAddress"
                                ngDefaultControl isRequired="true" email></sfs-mail-address-input>
        <sfs-password-input [(ngModel)]="password" name="password" ngDefaultControl></sfs-password-input>
        <a routerLink="../reset-password" class="password-reset">Passwort vergessen?</a>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button type="submit" [disabled]="loginForm.invalid">Einloggen</button>
        <a md-button routerLink="../registration">Registrieren</a>
      </md-card-actions>
    </form>
  </md-card>
</div>
