<div fxLayoutAlign="center start">
  <mat-card class="full-max-size">
    <mat-card-title>
      Login
    </mat-card-title>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-card-content fxLayout="column">
        <mat-button-toggle-group fxFlexAlign="center" [(ngModel)]="useUserName" name="useUserName">
          <mat-button-toggle value="true">
            <mat-icon>person</mat-icon>
            Name
          </mat-button-toggle>
          <mat-button-toggle value="false">
            <mat-icon>email</mat-icon>
            E-Mail
          </mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <sfs-user-name-input *ngIf="useUserName === 'true'" [(ngModel)]="userName" name="userName" ngDefaultControl>
        </sfs-user-name-input>
        <sfs-mail-address-input *ngIf="useUserName === 'false'" [(ngModel)]="mailAddress" name="mailAddress"
                                ngDefaultControl isRequired="true" email></sfs-mail-address-input>
        <sfs-password-input [(ngModel)]="password" name="password" ngDefaultControl></sfs-password-input>
        <a routerLink="../reset-password" class="password-reset">Passwort vergessen?</a>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" type="submit" [disabled]="!password || loginForm.invalid">
          Einloggen
        </button>
        <a mat-raised-button routerLink="../registration" queryParamsHandling="merge">Registrieren</a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
