<div *ngIf="hasFilter">
  <div id="second-scrollbar" fxHide.lt-md="true">
    <div id="second-scrollbar-content">
    </div>
  </div>
  <div [fxLayout]="daysLayout$ | async" fxLayoutGap="20px" class="scrollable" id="class-list">
    <div *ngFor="let classesPerDay of schedule$ | async | orderDays:showTodayFirst">
      <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start center">
        <h2>{{ getDayName(classesPerDay.day) }}</h2>
        <sfs-fitness-class *ngFor="let class of classesPerDay.classes | filterClasses:filter | orderClasses"
                           [fitnessClass]="class" fxFlex></sfs-fitness-class>
      </div>
    </div>
  </div>
</div>
<div [fxShow]="!hasFilter" fxLayout="row" fxLayoutAlign="center center">
  <p>Füge mindestens einen <a routerLink="/filter">Filter</a> hinzu.</p>
</div>
