<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-icon>person</mat-icon>
  <mat-form-field fxFlex>
    <input matInput [formControl]="inputControl" placeholder="Benutzername" required type="text" pattern="[a-zA-Z0-9]+"
           [(ngModel)]="userName" (input)="updateValue($event.target.value)">
    <mat-error *ngIf="!userName || userName.length == 0">Der Benutzername ist ein Pflichtfeld.</mat-error>
    <mat-error *ngIf="userName?.length > 0">Der Benutzername darf nur Buchstaben und Zahlen enthalten.</mat-error>
  </mat-form-field>
</div>
