/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*@import 'teal-pink.theme.scss';*/
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #f48fb1;
  text-decoration: none;
}

md-dialog-container {
  position: relative;
}

/*TODO: Workaround @see https://github.com/angular/material2/issues/998*/
.mat-sidenav-container, .mat-sidenav-content {
  transform: none !important;
}
